{% extends 'base.html.twig' %}

{% block title %}Edit Tiquets{% endblock %}

{% block body %}
    <h1>Edit Tiquets</h1>

    {{ include('tiquets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tiquets_index') }}">back to list</a>

    {{ include('tiquets/_delete_form.html.twig') }}
{% endblock %}
